<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nursultan.shoppingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShoppingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingAppBlack">
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ShopListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.NewNoteActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1182889314712594~8769358107" />
    </application>

</manifest>